{% extends 'index.html' %}
{% load static %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
{% block content %}
    <form name="link_shorten_form" method='POST' action="{% url 'short' %}" novalidate>
    {% csrf_token %}
        <div class="form-group">
            <input id="long_url_link" name="long_url_link" type="text" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" onclick="submitForm(link_shorten_form)">
        </div>
    </form>
    <br>
    <div class="form-group">
        {% if short_url %}
            <label>Your Short Link for {{long_url_link}} is: &nbsp;&nbsp; <b>{{short_url}}</b></label>
            <br>
            <label>(Try Pasting the link in the new tab.)</b></label>
            
        {% endif %}
    </div>

{% endblock %}